<% var i ="&"+suit+";" %>
<div class="card rank-<%= rank.toLowerCase() %> <%= suit %>">
  <div class="front">
    <div class="rank" style="visibility: hidden"><%= rank.toUpperCase() %></div>
    
    <div class="suit">
        
    </div>
    <div class="icon">
        <% if (rank == "37" || rank == "38" || rank == "39" || rank == "40") { %>
            <%=i+i+i+"<br>"+i+i+i+"<br>"+i+i+i%>
        <% } else if (rank == "33" || rank == "34" || rank == "35" || rank == "36") { %>
            <%=i+i+i+"<br>"+i+" "+i+"<br>"+i+i+i%>
        <% } else if (rank == "29" || rank == "30" || rank == "31" || rank == "32") { %>
            <%=i+" "+i+"<br>"+i+i+i+"<br>"+i+" "+i%>
        <% } else if (rank == "25" || rank == "26" || rank == "27" || rank == "28") { %>
            <%=i+" "+i+"<br>"+i+" "+i+"<br>"+i+" "+i%>
        <% } else if (rank == "21" || rank == "22" || rank == "23" || rank == "24") { %>
            <%=i+" "+i+"<br>"+i+"<br>"+i+" "+i%>
        <% } else if (rank == "17" || rank == "18" || rank == "19" || rank == "20") { %>
            <%=i+" "+i+"<br><br>"+i+" "+i%>
        <% } else if (rank == "13" || rank == "14" || rank == "15" || rank == "16" ) { %>
            <%=i+"<br>"+i+"<br>"+i%>
        <% } else if (rank == "9" || rank == "10" || rank == "11" || rank == "12" ) { %>
            <%=i+"<br><br>"+i%>
        <% } else if (rank == "5" || rank == "6" || rank == "7" || rank == "8" ) { %>
            <%=i+"<br><br>"%>
        <% } else if (rank == "1" || rank == "2" || rank == "3" || rank == "4" ) { %>
            <%=i+"DR<br><br>"%>
        <% } else if (Number(rank) >= 50 && Number(rank) < 60) { %>
            <%="FL"%>
        <% } else if (Number(rank) >= 100 && Number(rank) < 110) { %>
            <%="Jo"%>
        <% } else if (Number(rank) >= 60 && Number(rank) < 70) { %>
            <%="N"%>
        <% } else if (Number(rank) >= 70 && Number(rank) < 80) { %>
            <%="S"%>
        <% } else if (Number(rank) >= 90 && Number(rank) < 100) { %>
            <%="W"%>
        <% } else if (Number(rank) >= 80 && Number(rank) < 90) { %>
            <%="E"%>
        <% } else { %>
            <%=""%>
        <% } %>
    </div>
  </div>
  <div class="back"></div>
</div>