<% var i ="&"+suit+";" %>
<div class="card rank-<%= rank.toLowerCase() %> <%= suit %>">
  <div class="front">
    <div class="rank"><%= rank.toUpperCase() %></div>
    <div class="suit">
    	<% if (rank == "F" || rank == "RD" || rank == "GD" ||rank == "SD" || rank == "NW" ||rank == "SW" ||rank == "EW" ||rank == "WW" ||rank == "J") { %>
    		<%= i %>
    	<% } %></div>
    <div class="icon">
    	<% if (rank == "10") { %>
    		<%=i+i+i+"<br>"+i+i+i+i+"<br>"+i+i+i%>
    	<% } else if (rank == "9") { %>
    		<%=i+i+i+"<br>"+i+i+i+"<br>"+i+i+i%>
    	<% } else if (rank == "8") { %>
    		<%=i+i+i+"<br>"+i+" "+i+"<br>"+i+i+i%>
    	<% } else if (rank == "7") { %>
    		<%=i+" "+i+"<br>"+i+i+i+"<br>"+i+" "+i%>
    	<% } else if (rank == "6") { %>
    		<%=i+" "+i+"<br>"+i+" "+i+"<br>"+i+" "+i%>
    	<% } else if (rank == "5") { %>
    		<%=i+" "+i+"<br>"+i+"<br>"+i+" "+i%>
    	<% } else if (rank == "4") { %>
    		<%=i+" "+i+"<br><br>"+i+" "+i%>
    	<% } else if (rank == "3") { %>
    		<%=i+"<br>"+i+"<br>"+i%>
    	<% } else if (rank == "2") { %>
    		<%=i+"<br><br>"+i%>
    	<% } else if (rank == "1") { %>
            <%=i+"<br><br>"+i%>
        <% } else if (suit == "F") { %>
            <%=i+"<br>hi<br>"+i%>
        <% } else { %>
    		<%=""%>
    	<% } %>
	</div>
  </div>
  <div class="back"></div>
</div>